.content.container {
  @apply mx-auto;
  @apply px-10;
  @apply pt-4;
  @apply break-words;
  padding-top: calc(#{$gutterTopBottom} + #{$gapSidebarNavbar});
  padding-bottom: calc(#{$gutterTopBottom} + #{$gapFooterBottom});

  .content-header {
    @apply mb-3;
    h1 {
      @apply mb-2;
      line-height: normal;
    }
  }

  .vm--overlay {
    background: rgba(0, 0, 0, 0.6); 
  }
}

@media (max-width: 640px) {
  .content.container {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    @apply px-4;
  }
}
@media (min-width: 640px) {
  .content.container {
    margin-left: $sidebarWidth;
    width: 100%;
    max-width: 100%;
  }
}