// variable
$backgroundPrimary: theme('colors.gray.800');
$backgroundSecondary: #2C394F;
$colorPrimary: theme('colors.gray.100');

// navbar
nav.navbar {
  background: $backgroundPrimary !important;
  color: $colorPrimary !important;
  input {
    background: $backgroundPrimary !important;
  }
}

// sidebar
div.sidebar {
  background: $backgroundPrimary !important;
  color: $colorPrimary !important;
  li.item {
    color: $colorPrimary !important;
  }
  li.item.active {
    @apply border-t-2 border-b-2 border-blue-500;
  }
}

// footer
div.footer, div.footer span {
  background: $backgroundPrimary !important;
  color: $colorPrimary !important;
}

// dashboard layout
.dashboard-layout {
  background: $backgroundPrimary !important;
}

// content
.content.container {
  color: $colorPrimary;

  div[role=alert] {
    color: $colorPrimary;
    background: $backgroundSecondary;
  }
}

// component
@import "./dark/table";