// navbar
nav.navbar {
  background: $backgroundPrimary !important;
  color: $colorPrimary !important;
  input {
    background: $backgroundPrimary !important;
  }
}

// sidebar
div.sidebar {
  background: $backgroundPrimary !important;
  color: $colorPrimary !important;
  li.item {
    color: $colorPrimary !important;
  }
  li.item.active {
    @apply border-t-2;
    @apply border-b-2;
    @apply border-blue-500;
  }
}

// footer
div.footer, div.footer span {
  background: $backgroundPrimary !important;
  color: $colorPrimary !important;
}

// dashboard layout
.dashboard-layout {
  background: $backgroundPrimary !important;
}

// content
.content.container {
  &, * {
    color: $colorPrimary;
  }

  .vm--overlay {
    background: rgba(0, 0, 0, 0.8); 
  }

  .v-select, .vs__dropdown-toggle, .vs__selected-options, .vs__search, .vs__actions, .vs__actions * {
    color: $colorPrimary;
    .vs__clear {
      color: theme('colors.white');
    }
    &, .vs__selected {
      background: $backgroundTertiary !important;
    }
  }
}

// 

// component
@import "./dark/table";
@import "./dark/modal";
@import "./dark/alert";