.sidebar {
  width: 100%;
  max-width: $sidebarWidth;
  padding-top: $gapSidebarNavbar;
  transition: all .2s;
  .sidebar-container {
    min-height: calc(100vh - #{$gapSidebarNavbar});
    max-height: calc(100vh - #{$gapSidebarNavbar});
    li.item {
      @apply font-semibold text-gray-800 pl-10 my-1 py-2;
    }
    li.item.active {
      @apply font-semibold text-blue-600 my-1 py-2 border-t-2 border-b-2 border-blue-200;
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: rgba(66, 153, 225, .08);
      padding-left: 2.2rem;
      border-left: 4px solid theme('colors.blue.500');
    }
  }
}

@media (max-width: 640px) {
  .sidebar {
    max-width: 100vw;
  }
  .sidebar {
    display: none;
  }
}

.avatar {
  width: 64px;
  @apply rounded-full inline-block;
}