.tw-table {
  background: theme('colors.gray.800') !important;
  color: theme('colors.gray.100') !important;
  tr {
    border-color: theme('colors.gray.400');
    &:hover {
      background: theme('colors.gray.700') !important;
    }
  }
  th {
    background: theme('colors.gray.900');
  }
  th, td:before {
    color: theme('colors.gray.100');
    @apply font-semibold;
  }
}