/* purgecss start ignore */
@import "./components/transition";
@import "./components/toast";
@import "./layouts/scrollbar";
@import "./components/line";
@import "./components/table";
@import "./components/alert";

.vgt-global-search {
  padding: 1rem .5rem !important;
}
.vgt-selection-info-row {
  @apply text-base;
  min-height: 40px;
}

.vm--container {
  z-index: 40 !important;
}

.swal2-popup.swal2-modal {
  border-radius: 0;
  box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);

  .swal2-confirm.swal2-styled {
    @apply cursor-pointer text-gray-100 mx-1 rounded font-semibold transition-all duration-100 ease-in inline-block;
    @apply bg-blue-400 px-6 py-2;
    &:hover {
      @apply text-gray-300 bg-blue-600;
    }
  }
  .swal2-cancel.swal2-styled {
    @apply cursor-pointer text-gray-100 mx-1 rounded font-semibold transition-all duration-100 ease-in inline-block;
    @apply bg-red-500 px-6 py-2;
    &:hover {
      @apply text-gray-300 bg-red-600;
    }
  }
}
/* purgecss end ignore */