// variable
$sidebarWidth: 275px;
$gapSidebarNavbar: 61px;
$gapFooterBottom: 35px;
$gutterTopBottom: 1rem;


// light theme
.dashboard {
  @import "./dashboard/navbar";
  @import "./dashboard/content";
  @import "./dashboard/sidebar";
  @import "./dashboard/footer";
}

// dark theme
body.dark-theme .dashboard {
  @import "./dashboard/dark";
}

// all
@import "./dashboard/dark/toggle"
