/* purgecss start ignore */
// variable
$sidebarWidth: 275px;
$gapSidebarNavbar: 61px;
$gapFooterBottom: 35px;
$gutterTopBottom: 1rem;


// light theme
.dashboard {
  @import "./dashboard/navbar";
  @import "./dashboard/content";
  @import "./dashboard/sidebar";
  @import "./dashboard/footer";
}

// dark theme
body.dark-theme {
  // variable
  $backgroundPrimary: theme('colors.gray.800');
  $backgroundSecondary: #2C394F;
  $backgroundTertiary: theme('colors.gray.700');
  $colorPrimary: theme('colors.gray.100');

  // component
  @import "./dashboard/dark/swal";
  .dashboard {
    @import "./dashboard/dark";
  }

  // 
  .overlay-loading {
    background: $backgroundTertiary;
  }
}

// all
@import "./dashboard/dark/toggle";
/* purgecss end ignore */
