/* purgecss start ignore */
// variable
$sidebarWidth: 275px;
$gapSidebarNavbar: 61px;
$gapFooterBottom: 35px;
$gutterTopBottom: 1rem;


// light theme
.dashboard {
  @import "./dashboard/navbar";
  @import "./dashboard/content";
  @import "./dashboard/sidebar";
  @import "./dashboard/footer";
  
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 .5em;
      line-height: 1.5em;
      color: theme('colors.gray.800');
      font-weight: bold;
      background-color: theme('colors.gray.200');
    }
  }
  
  .widget-icon {
    display: flex;
    @apply bg-gray-400;
    @apply px-4;
    @apply py-2;
    @apply rounded;
    @apply cursor-pointer;
    @apply text-gray-800;
    @apply transition-all;
    @apply duration-200;
    @apply ease-out;
    @apply shadow-md;
    
    &:hover {
      transform: scale(1.05, 1.05);
      background-color: theme('colors.gray.500');
    }
  }
}

// dark theme
body.dark-theme {
  // variable
  $backgroundPrimary: theme('colors.gray.800');
  $backgroundSecondary: #2C394F;
  $backgroundTertiary: theme('colors.gray.700');
  $colorPrimary: theme('colors.gray.100');

  // component
  @import "./dashboard/dark/swal";
  .dashboard {
    @import "./dashboard/dark";

    .dark\:bg-dark {
      background: $backgroundPrimary;
    }
  
    .hr-text {
      &:after {
        color: $colorPrimary;
        background-color: $backgroundPrimary;
      }
    }

    .widget-icon {
      background-color: $backgroundTertiary;
      color: $colorPrimary;

      &:hover {
        background-color: $backgroundSecondary;
      }
    }
  }

  // 
  .overlay-loading {
    background: $backgroundTertiary;
  }
}

// all
@import "./dashboard/dark/toggle";
/* purgecss end ignore */
