.input[type="password"] {
    -webkit-text-security: square;
}

.input-group {
    label {
        @apply block text-gray-700 text-sm font-bold mb-2;
    }
}

.select {
    @apply bg-gray-200 appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;

    &:focus {
        @apply border-blue-500;
    }

    &:focus {
        @apply bg-white;
    }

    &:focus {
        @apply outline-none;
    }
}