// default
$t-duration: 800ms;
$t-delay: 300ms;
.default-enter-active,
.default-leave-active {
  transition-duration: $t-duration * 2;
  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 50%;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
  }
  &::before {
    background-color: #2e2e2e;
  }
  &::after {
    top: 50%;
    background-color: #2e2e2e;
  }
}
.default-leave {
  &::before,
  &::after {
    transform: scaleX(0);
  }
}
.default-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}
.default-leave-to {
  &::before,
  &::after {
    transform: scale(1);
    transform-origin: left;
  }
}
.default-enter {
  &::before,
  &::after {
    transform: scaleX(1);
  }
}
.default-enter-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}
.default-enter-to {
  &::before,
  &::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}


// slide
.dashboard-leave-active, .dashboard-enter-active,
.slide-leave-active, .slide-enter-active {
  transition: .5s;
}
.dashboard-enter,
.slide-enter {
  opacity: 0;
  transform: translate(-100%, 0);
}
.dashboard-leave-to,
.slide-leave-to {
  opacity: 0;
  transform: translate(100%, 0);
}